<table class="table">
  <tr>
    <td class="col-md-2"><h3 class="title"><span class="fa fa-balance-scale"></span> Budget</h3></td>
    <td class="col-md-10">
      <div class="msg">
        <% if flash[:alert].present? %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>
        <% if flash[:notice].present? %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<table class="table table-striped table-bordered">
  <%= form_with model: @budgets, url: admin_budgets_path, remote: true, html: { id: "budget-form" } do |f| %>
  <tr>
    <td class="col-md-3"><label>Name</label><%= f.text_field :name, placeholder: "Enter the name", value: "", class: "form-control" %></td>
    <td class="col-md-2"><label>Limit</label><%= f.text_field :limit, placeholder: "Enter the limit", value: "", class: "form-control" %></td>
    <td class="col-md-3"><label>Member</label><%= f.select :member_id, member_values, {}, {class: "form-control"} %></td>
    <td class="col-md-3"><label>Spend Categories</label><%= f.select :spent_category_id, spent_category_values, {}, {class: "form-control"} %></td>
    <td class="col-md-3"><button type="submit" class="btn btn-primary table-btn">Add</button></td>
  </tr>
  <% end %>
</table>

<table class="table table-striped table-bordered">
  <% if @budgets.present? %>
    <thead>
    <tr>
      <th class="col-md-3">Name</th>
      <th class="col-md-2">Limit</th>
      <th class="col-md-3">Member name</th>
      <th class="col-md-3">Spent category</th>
      <th class="col-md-3">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.name %></td>
        <td><%= budget.limit %></td>
        <td><%= budget.member.name %></td>
        <td><%= budget.spent_category.name %></td>
        <td>
          <a href="#" class="fa fa-pencil-square-o edit" title="disabled"></a>
          <a href="#" class="fa fa-trash-o delete" title="disabled"></a>
        </td>
      </tr>
    <% end %>
    </tbody>
  <% else %>
    <tr>
      <td colspan="3" class="text-center alert alert-info">No  budget are available to display</td>
    </tr>
  <% end %>
</table>

