<table class="table">
  <tr>
    <td class="col-md-3"><h3 class="title"><span class="fa fa-cubes"></span> Spent Categories</h3></td>
    <td class="col-md-9">
      <div class="msg">
        <% if flash[:alert].present? %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>
        <% if flash[:notice].present? %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<table class="table table-striped table-bordered">
  <%= form_with model: @spent_categories, url: admin_spent_categories_path, remote: true, html: { id: "spent_category-form" } do |f| %>
  <tr>
    <td class="col-md-10"><label>Name</label><%= f.text_field :name, placeholder: "Enter the name", value: "", class: "form-control" %></td>
    <td class="col-md-2"><button type="submit" class="btn btn-primary table-btn">Add</button></td>
  </tr>
  <% end %>
</table>

<table class="table table-striped table-bordered">
  <% if @spent_categories.present? %>
    <thead>
    <tr>
      <th class="col-md-10">Name</th>
      <th class="col-md-2">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @spent_categories.each do |spent_category| %>
      <tr>
        <td><%= spent_category.name %></td>
        <td>
          <a href="#" class="fa fa-pencil-square-o edit" title="disabled"></a>
          <a href="#" class="fa fa-trash-o delete" title="disabled"></a>
        </td>
      </tr>
    <% end %>
    </tbody>
  <% else %>
    <tr>
      <td colspan="3" class="text-center alert alert-info">No spent categories are available to display</td>
    </tr>
  <% end %>
</table>
