<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
      <a href="<%= transactions_path %>"><h3><span class="fa fa-inr"></span> Daily Pay </h3></a>
    </div>

    <ul class="list-unstyled components">
      <li class="<%= active_class(root_path) || active_class(transactions_path) %>">
        <a href="<%= transactions_path %>"><span class="fa fa-list-alt"></span> Transaction</a>
      </li>
      <li class="<%= active_class(reports_path) %>">
        <a href="<%= reports_path %>"><span class="fa fa-area-chart"></span> Report</a>
      </li>

      <li class="<%= active_class(budgets_path) %>">
        <a href="<%= budgets_path %>"><span class="fa fa-balance-scale"></span> Budget</a>
      </li>
      <li class="<%= active_class(tags_path) %>">
        <a href="<%= tags_path %>"><span class="fa fa-tags"></span> All tags</a>
      </li>
    </ul>
</nav>